.bg{
    background-color:#1ABC9C;
}

 
 @media screen and (min-width: 600px) and (max-width:800px) {
   .lines2::after ,.lines::after {
 bottom: 43%;

     
   }
 }

 
 @media screen and (min-width: 600px) and (max-width:800px) {
   .star {
 bottom: 42%;
     
   }
 }